# Path to the kernel cmdline txt.
# CMD_LINE_FILE=/etc/efigen/cmdline.txt

# Initrd files, separated by space. You may include your microcode like 
# INITRDS="/boot/initramfs-linux.img /boot/intel-ucode.img"
# INITRDS="/boot/initramfs-linux.img" 

# Kernel executable.
# KERNEL=/boot/vmlinuz-linux

# Path to OS release file
# OS_RELEASE_FILE=/usr/lib/os-release

# Path of combined temp initrd image to be generated.
# Will be deleted after processing.
# Must be a path which the hook can write.
# TEMP_INITRD_IMG=./temp.img
